.header {
  padding: 2.4rem 3.6rem;
  background-color: #0b0c1e;
  border-bottom: 1px solid #e91e6347;
  min-height: 12rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  font-size: 1.6rem;
}

.btn {
  padding: 0.8rem 1.4rem;
  font-size: 1.6rem;
  font-weight: 500;
  background-color: #420080;
  border-radius: 0.8rem;
  color: #d0d0d0;

  box-shadow: 0 0 20px 2px rgb(189 124 250 / 25%);
  transition: all 0.3s;
}

.btn:hover {
  transform: translateY(1px);
  box-shadow: 0 0 10px 2px rgb(189 124 250 / 25%);
}

.brand {
  flex-grow: 1;
  text-align: center;
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
}

.statusList {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.status {
  display: flex;
  align-items: baseline;
  gap: 0.4rem;
}

.status .label {
  font-size: 1.3rem;
  font-weight: 500;
  color: #555;
}

.status .value {
  font-weight: 600;
  font-size: 1.4rem;
  font-family: monospace;
  letter-spacing: -1px;
  color: #00c1d4;
}
